* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    color: aliceblue;
  box-sizing: border-box;
  background-color: rgb(72, 65, 72);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 2px solid red;
  height: 100vh;
}

.main-container {
  border: 1px solid black;
  border-radius: 3px;
  height: 25%;
  width: 25%;
}

.center-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.search-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    border: 1px solid red;
}

#search-input{
    width: 25em;
    height: 2em;
    border-radius: 5px;
}
 #search-img{
    background-color: rgb(120, 99, 120);
    > &:hover{
        scale: 1.1;
        border-radius: 2px;
    }
 }

